@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* making tabs look flat */
tab.tabbrowser-tab, .tabs-newtab-button {
  border: 0px !important;
  border-radius: 0px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;

  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;

  background-image: url("") !important;
  background: #555555 !important;
}

tab[selected="true"], tab:hover, .tabs-newtab-button {
  color: #616161 !important;
  background: #e8e8e8 !important;
}

/* nav bar */
textbox#urlbar {
  -moz-appearance: none !important;
  border: 1px solid #cccccc !important;
  background-color: #efefef !important;
}

/* toolbar buttons */
toolbar#nav-bar > .toolbarbutton-1 {
  -moz-appearance: none !important;
}

toolbar#nav-bar > .toolbarbutton-1:hover {
  -moz-appearance: none !important;
  background-color: #efefef !important;
}

toolbar#nav-bar {
  -moz-appearance: none !important;
  background: #e8e8e8 !important;
}

toolbarbutton#appmenu-toolbar-button {
  -moz-appearance: none !important;
  color: #e8e8e8 !important;
}

toolbarbutton#appmenu-toolbar-button:hover {
  background-color: #e8e8e8 !important;
  color: #616161 !important;
}

.searchbar-textbox {
  -moz-appearance: none !important;
  border: 1px solid #cccccc !important;
  background-color: #efefef !important;
}
